body {
    background-color: black;
}

#title {
    color:white;
    background-color: #73AD21;
    font-family: cursive;
    font-size: 500%;

}

#ritaAddress {
    color: white;
    background-color:#73AD21;
    font-family: cursive;
    font-size: 400%;
}

.margTitles {
    color:black;
    margin-left: 26%;
    font-family: cursive;
}

#ritasMenu {
    position: relative;
    margin-left: 25%;
}

.drinkDescriptions {
  margin-right: 24%;
  margin-left: center;
  font-size: larger;
}

#menu {
    width: 900px;
    margin: auto;
    border: 10px solid #73AD21;
    background-color: white;
  }

  #venue {
    width: 919px;
    height: 900;
}

.drinkImgs{
    height: 445px;
    width: 450px;
    margin-left: 4%;
}

.container {
    width: 900px;
    margin: auto;
    border: 3px solid #73AD21;
  }

  .minusBtn{
    margin-right: 17%;
    height: 50px;
    width: 100px;
    background-color: black;
    color: #f2f2f2;
    border-color: gold;
    cursor: nw-resize;
  }

  .quantityCounter{
    margin-left: 7.5%;
    font-size:xx-large;
    font-style:inherit;
  }

  .plusBtn{
    margin-left: 18%;
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border-color: gold;
    cursor: ne-resize;

  }

  .orderButton {
    margin-left: 33%;
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border-color: gold;
  }

  .delete {
    margin-left: 33%;
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border-color: gold;
  }




